/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-image: url('img/giftBground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.navbar-light {
    background-color: pink !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 28px;
    color: blanchedalmond !important;
}

.nav-link {
    font-size: 20px;
    color: blanchedalmond !important;
}

.display-4 {
    font-weight: bold !important;
    text-align: center !important;
    margin-top: 75px !important;
}

.lead {
    margin-top: 25px;
    margin-right: 20px !important;
    margin-left: 20px !important;
    text-align: right !important;
}

.lead_1 {
    margin-top: 25px;
    margin-right: 20px !important;
    text-align: right !important;
}

.display-3 {
    font-weight: bold !important;
    text-align: center !important;
}


.jumbotron /*כותרת*/ {
    margin-top: 10px !important;
}

.active /*כפתור*/ {
    margin-left: 720px;
    margin-top: 10px;
    background-color: pink !important;
}

.form-group /*טופס*/ {
    text-align: right !important;
    margin-left: 750px;
}


.description {
    display: none;
    position: absolute;
}

.footer {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.btn-sm {
    background-color: pink !important;
    margin-top: 10px;
}

.col-md-2 {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.btn-primary {
    margin-right: 280px !important;
    background-color: pink !important;
}

.col-md-6 mb-3 {
    margin-left: 40px !important;
}

